IO_LOC "clk" H11;
IO_LOC "resetn" C7;
IO_LOC "RXD" L9;
IO_LOC "TXD" N9;
IO_LOC "LEDS"  L16;
IO_PORT "clk"     IO_TYPE=LVCMOS33;
IO_PORT "resetn"  IO_TYPE=LVCMOS33;
IO_PORT "RXD"     IO_TYPE=LVCMOS33;
IO_PORT "TXD"     IO_TYPE=LVCMOS33;
IO_PORT "LEDS"    IO_TYPE=LVCMOS18;

