set_io clk  J3
set_io rst  P1
set_io init B4
set_io done A2
set_io A[0] N2
set_io A[1] B3
set_io A[2] B5
set_io A[3] C3
set_io A[4] A5
set_io A[5] C4
set_io A[6] B6
set_io A[7] C5
set_io A[8] A6
set_io A[9] C6
set_io A[10] B7 
set_io A[11] C7
set_io A[12] A7
set_io A[13] A9
set_io A[14] A10
set_io A[15] A11
set_io B[0] T1
set_io B[1] R2
set_io B[2] N5
set_io B[3] P5
set_io B[4] R3
set_io B[5] R5
set_io B[6] T3
set_io B[7] M4
set_io B[8] N7
set_io B[9] P6
set_io B[10] M8 
set_io B[11] T5
set_io B[12] R6
set_io B[13] P8
set_io B[14] T6
set_io B[15] L9
set_io pp[0] T7
set_io pp[1] T8
set_io pp[2] P7
set_io pp[3] N9
set_io pp[4] T9
set_io pp[5] N3
set_io pp[6] P9
set_io pp[7] R10
set_io pp[8] L10
set_io pp[9] P10
set_io pp[10] N10 
set_io pp[11] T10
set_io pp[12] T11
set_io pp[13] T15
set_io pp[14] T14
set_io pp[15] M11
set_io pp[16] T13
set_io pp[17] N12
set_io pp[18] L11
set_io pp[19] T16
set_io pp[20] M12
set_io pp[21] R16
set_io pp[22] E4
set_io pp[23] B2
set_io pp[24] F5
set_io pp[25] B1
set_io pp[26] C1 
set_io pp[27] C2
set_io pp[28] F4
set_io pp[29] D2
set_io pp[30] G5
set_io pp[31] D1





